<div class="row">
  <div class="col-6 offset-3">
    <ngb-alert [type]="'danger'" (close)="clearErrors()" *ngIf="errors.length > 0">
      <ul>
        <li *ngFor="let error of errors">{{error}}</li>
      </ul>
    </ngb-alert>
    <app-loader [display]="loading"></app-loader>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="'signIn'">
        <a ngbNavLink>Sign In</a>
        <ng-template ngbNavContent>
          <app-signin (errors)="setErrors($event)" (loading)="setLoader($event)"></app-signin>
        </ng-template>
      </li>
      <li [ngbNavItem]="'signUp'">
        <a ngbNavLink>Sign Up</a>
        <ng-template ngbNavContent>
          <app-signup></app-signup>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
