<div class="card-header" *ngIf="questions.length > 0">
  {{category}}
</div>
<div class="card" *ngFor="let question of questions">
  <div class="card-body">
    <h6 class="text-warning"> {{question.title}}</h6>
    <pre class="text-muted"> {{question.content}}</pre>
    <pre *ngIf="question.code"><code [highlight]="question.code" [languages]="languages" [lineNumbers]="true"></code></pre>
    <button class ="btn btn-secondary" *ngIf="!question.revealAnswer" (click)="toggleAnswer(question, true)">Show answer</button>
    <pre class="text-muted" *ngIf="question.revealAnswer"><li class="list-group-item"><button class ="btn btn-secondary" (click)="toggleAnswer(question, false)">Hide answer</button> {{question.answer}}</li></pre>
  </div>
</div>
