<div class="card" *ngFor="let question of questions">
  <div class="card-header" *ngIf="questions.length > 0"></div>
  <div class="card-body">
    <div *ngIf="question.tags?.length > 0">
      <a href="#" class="badge badge-primary">{{question.tags[0]}}</a>
      <a href="#" class="badge badge-secondary">{{question.tags[1]}}</a>
      <a href="#" class="badge badge-success">{{question.tags[2]}}</a>
      <a href="#" class="badge badge-danger">{{question.tags[3]}}</a>
      <a href="#" class="badge badge-warning">{{question.tags[4]}}</a>
    </div>
    <pre class="text-muted"> <markdown ngPreserveWhitespaces>{{question.content}}</markdown></pre>
    <button class="btn btn-secondary" *ngIf="!question.revealAnswer" (click)="toggleAnswer(question, true)">Show
      answer</button>
    <pre class="text-muted" *ngIf="question.revealAnswer">
        <li class="list-group-item">
          <button class ="btn btn-secondary" (click)="toggleAnswer(question, false)">Hide answer</button>
          <markdown ngPreserveWhitespaces>{{question.answer}}</markdown>
        </li>
      </pre>
  </div>
</div>