.ow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.badge {
  padding: 0.25em 0.6em !important;
  margin: 1px !important;
}

.badge-secondary {
  background-color: #da0593 !important;
}

.card {
  margin-bottom: 0.7em !important;
}

.list-group-item {
  max-width: fit-content;
  white-space: pre-line;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  margin-bottom: 2rem;
}
