.ow {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

.badge {
  padding: 0.25em 0.6em !important;
  margin: 1px !important;
}

.badge-secondary {
  background-color: #cc7832 !important;
}

.card {
  margin-bottom: 0.7em !important;
}

.card-header {
  color: #cc7832 !important;
}

fa-icon {
  margin-right: 3px !important;
}

fa-icon:hover {
  opacity: 50% !important;
}
