<app-loader [display]="loading"></app-loader>
<div class="card" *ngFor="let question of questions">
  <div class="card-header" *ngIf="questions.length > 0">
    <div *ngIf="question.tags?.length > 0" class="row">
      <div *ngFor="let tag of question.tags; let i = index">
        <label class="badge badge-{{tagStyles[i]}}">{{question.tags[i]}}</label>
      </div>
    </div>
  </div>
  <div class="card-body">
    <pre class="text-muted"> <markdown>{{question.content}}</markdown></pre>
    <button class="btn btn-secondary" *ngIf="!question.revealAnswer" (click)="toggleAnswer(question, true)">Show
      answer</button>
    <pre class="text-muted" *ngIf="question.revealAnswer">
        <li class="list-group-item">
          <button class ="btn btn-secondary" (click)="toggleAnswer(question, false)">Hide answer</button>
          <markdown>{{question.answer}}</markdown>
        </li>
      </pre>
  </div>
</div>