.btn-primary:not(:disabled):not(.disabled).active {
  background-color: #cc7832 !important;
}

.card-header {
  text-align: center !important;
}

.btn {
  margin: 3px !important;
}

.btn-primary {
  background-color: #444 !important;
  border-color: #444 !important;
}

.btn-primary:hover {
  color: orange !important;
}

.btn:focus,
.btn.focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-primary:focus,
.btn-primary.focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
