.btn-primary:not(:disabled):not(.disabled).active{
    background-color:#cc7832 !important; 
}

.card-header {
  text-align: center !important;
  margin-bottom: 0.25em;
}

.btn {
  margin: 3px !important;
}

.btn-primary {
  background-color: #444 !important;
  border-color: #444 !important;
}

.btn-primary:hover {
  color: orange !important;
}

.clear-section {
  margin-top: 0.25em;
  width: 100%;
}