.btn-primary:not(:disabled):not(.disabled).active {
  background-color: #cc7832 !important;
}

.card-header {
  text-align: center !important;
  margin-bottom: 0.25em;
}

.side-bar{
  min-height: 100%;
  min-width: auto !important;
}

.btn {
  margin: 3px !important;
}

.btn-primary {
  background-color: #444 !important;
  border-color: #444 !important;
}

.btn-primary:hover {
  color: orange !important;
}

.btn:focus,
.btn.focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-primary:focus,
.btn-primary.focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.docked-button {
  position: sticky;
  bottom: 0;
}

.clear-button {
  background-color: #cc7832 !important;
  width: 100%;
}

.clear-button:hover {
  color: #444 !important;
}

.scrollable{
  overflow-y: auto;
  height: 75vh;
}
