/* You can add global styles to this file, and also import other style files */

@import "~highlight.js/styles/github.css";
@import "bootstrap.css";

.CodeMirror {
  background-color: #303030 !important;
  color: #a9b7c6 !important;
}

.te-ww-container {
  background-color: #303030 !important;
  color: #a9b7c6 !important;
}

.CodeMirror-cursor {
  border-left: 1px solid #a9b7c6 !important;
}

.tui-editor-contents pre {
  background-color: #2d2d2d !important;
  color: white !important;
}

.tui-editor-defaultUI-toolbar {
  background-color: #2d2d2d !important;
}

.te-toolbar-section {
  /* border-bottom: 1px solid #cc7832 !important; */
  border-bottom: none !important;
}

.te-toolbar-section button {
  background-color: #a9b7c6 !important;
}

.te-md-splitter {
  border: 0.1px solid black !important;
}

.tui-editor-defaultUI {
  border: 0.5px solid #cc7832 !important;
  border-radius: 5px !important;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.tui-popup-header {
  background-color: #2d2d2d !important;
  border-bottom: 1px solid #cc7832 !important;
}

.te-mode-switch-section {
  background-color: #2d2d2d !important;
  border-top: 1px solid #181818 !important;
}

.tui-editor-defaultUI .te-switch-button.active {
  background-color: #cc7832 !important;
  color: white !important;
}

.tui-editor-defaultUI .te-switch-button {
  background-color: #555 !important;
  color: white !important;
  border: none !important;
}

.tui-popup-header .tui-popup-title {
  color: #cc7832 !important;
}

.tui-popup-body {
  background-color: #4e4d4d !important;
}
.tui-editor-popup .tui-popup-body label {
  color: white !important;
}

.tui-popup-wrapper {
  -webkit-box-shadow: 5px 5px 20px 10px rgba(78, 77, 77, 0.7);
  -moz-box-shadow: 5px 5px 20px 10px rgba(78, 77, 77, 0.7);
  box-shadow: 5px 5px 20px 10px rgba(78, 77, 77, 0.7);
  border: none !important;
}

.tui-editor-defaultUI button.te-ok-button {
  background-color: #cc7832 !important;
}

.te-popup-add-image .te-tab button.te-tab-active {
  background-color: #cc7832 !important;
}

.te-popup-add-image .te-tab button {
  color: white !important;
  background-color: #777 !important;
}


.dropdown-item.active, .dropdown-item:active {
  background-color: #cc7832 !important;
}


.dropdown-item:hover  {
  background-color: #cc7832 !important;
}

